* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
}
body {
  font-family: PingFangSC-Regular, PingFang SC;
  /* font-family: 'Helvetica Neue', Helvetica, 'PingFangSC-Regular', 'PingFang SC', 'PingFangSC-Semibold' 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑'; */
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.container-lg {
  width: 100%;
}

/* 自适应宽度 */
@media (min-width: 576px) {
  .container-lg {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container-lg {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .container-lg {
    max-width: 1100px;
  }
}
@media (min-width: 1680px) {
  .container-lg {
    max-width: 1300px;
  }
}

body::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background: #535353;
}

body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: #ededed;
}
.el-button {
  width: 90px;
  letter-spacing: 10px;
}
